.add_face-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;
		gap: 2rem;
		height: 40rem;
		width: 50%;
		
	}
	&__right {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		width: 50%;
		button {
			width: 25rem;
			height: 6rem;
		}
	}
}

.center {
	display: grid;
	place-content: center;
}

.centralContainer {
	.buttons {
		display: flex;
		flex-direction: row;
		gap: 5rem;
		width: 40vw;
	}
}

.photos {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;

	img {
		border-radius: 1rem;
		height: 10vw;
		width: auto;
	}
}

.istruction {
	margin-top: 2rem;
	padding: 2rem 1rem 2rem 1rem;
	font-size: 2rem;
	background-color: var(--secondary-blue);
	border-radius: 1rem;
	color: var(--primary-color);
}
