.backbutton_container {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem;

	button {
		width: 50px;
		height: auto;
		background-color: var(--secondary-blue);
		border-radius: 60px;
		font-size: 3rem;
		font-weight: 600;
		font-family: var(--primary-font);
		color: var(--primary-color);
	}
}
