button {
	height: 10rem;
	width: 33rem;
	background-color: var(--primary-color);
	cursor: pointer;
	border: none;
	border-radius: 30px;
	box-shadow: 4px 5px 19px rgba(var(--shadow-color-rgb), 0.5);
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	p {
		color: var(--primary-text-color);
	}
}
